*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.tilt-box-wrap {
  /* overflow-x: hidden; */
  width: 400px;
  height: 400px;
  position: relative;
  transition: all 0.6s ease-out;
  perspective: 1000px;
  /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
  /* box-shadow: 0px 5px 50px; */
  /* border: 10px solid white; */

  /* border-radius: 50px;
  background: linear-gradient(145deg, #737373, #898989);
  box-shadow: 19px 19px 46px #727272, -19px -19px 46px #8e8e8e; */
}
@media (max-width: 800px) {
  .tilt-box-wrap {
    width: 250px;
    height: 250px;
    /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
  }
}
.tilt-box-wrap:hover {
  transition: all 0.3s linear;
  transform: scale(1.1);
}
.tilt-box {
  margin: 5rem;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 10px 500px white;
  transform: rotateX(0deg) rotateY(-30deg);
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #000;
  /* font-size: 90px; */
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.6s ease-out;
  transform: rotateX(0deg) rotateY(-30deg);
  perspective: 1000px;
  transform-style: preserve-3d;
  background-image: url('./assets/clapperBoard.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tilt-box strong {
  transform: translateZ(40px);
}
.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
}

.t_over:nth-child(1) {
  left: 0;
  top: 0;
}
.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}
.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}
.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}
.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}
.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}
.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}
.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}
.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}
.t_over:nth-child(1):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(20deg);
}
.t_over:nth-child(2):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(0deg);
}
.t_over:nth-child(3):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(-20deg);
}
.t_over:nth-child(4):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(20deg);
}
.t_over:nth-child(5):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(0deg);
}
.t_over:nth-child(6):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(-20deg);
}
.t_over:nth-child(7):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(20deg);
}
.t_over:nth-child(8):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(0deg);
}
.t_over:nth-child(9):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(-20deg);
}

.wrap {
  perspective: 1000px;
}
.pro {
  transform: rotateX(0deg) rotateY(1deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}
.projector-wrap {
  perspective: 1000px;
  height: 90%;
}
.projector {
  /* margin: 5rem; */
  /* transform: rotateX(0deg) rotateY(-30deg); */
  position: relative;
  transition: all 0.6s ease-out;
  transform: rotateX(0deg) rotateY(-30deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}

.lines {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 2rem solid #555;
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: multiply;
  transform: rotateX(0deg) rotateY(0deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}

.boxes {
  position: relative;
  transition: all 0.6s ease-out;
  perspective: 1000px;
}
.first,
.third {
  box-shadow: 0px 10px 150px white;
  transform: rotateX(0deg) rotateY(-45deg);
  perspective: 1000px;
  transform-style: preserve-3d;
  /* transform: rotateY(deg); */
}
.third {
  transform: rotateX(0deg) rotateY(45deg);
}
