@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
@import url('parralax.css');
@import url('validate.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  /* background-image: linear-gradient(45deg, rgb(23, 23, 212), rgb(234, 44, 234)); */
  width: 100vw;
  color: white;
  /* background: #141e30;  */
  /* fallback for old browsers */
}

.search-bar {
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  width: 40rem;
  justify-content: space-between;
  margin: 2rem 0px;
  margin-top: 4.5rem;
  padding: 0.4rem 1rem;
  transition: 0.3 ease;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.404);
}
.search-bar:focus {
  border-radius: 20px;
  border: 5px solid greenyellow;
}
.search-bar input {
  font: inherit;
  border: none;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  width: 90%;
  border-radius: 10px;
  background-color: transparent;
}
.search-bar input:focus {
  outline: none;
}

@media (max-width: 850px) {
  .search-bar {
    width: 90vw;
  }
}

.details {
  background-color: rgba(34, 34, 34, 0.569);
  justify-content: space-between;
  color: white;
  padding: 0.7rem 1rem;
  height: 0;
  width: 0%;
  width: 100%;
  opacity: 0;
  margin: 0;
  position: absolute;
  bottom: 0%;
  transition: 0.5s ease;
}

.movie:hover .details {
  margin-top: 0;
  height: 5rem;
  opacity: 1;
}

.custom-shape-divider-bottom-1669704609 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-bottom: -1px;
}

.custom-shape-divider-bottom-1669704609 svg {
  position: relative;
  display: block;
  width: calc(148% + 1.3px);
  height: 132px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1669704609 .shape-fill {
  fill: #ffffff;
}

.content {
  /* border-radius: 39px;
  background: linear-gradient(145deg, #2e3b4d, #37465b);
  background: linear-gradient(180deg, #0f172a, #334155); */
  /* box-shadow: 18px 18px 36px #161c25, -18px -18px 36px #506685; */
  transform: translateX(500%);
  transition: transform 0.7s ease-in-out;
}
.content:nth-of-type(even) {
  transform: translateX(-500%);
}
.content.show {
  transform: translateX(0);
}

.custom-shape-divider-top-1669726171 {
  position: relative;
  top: 102px;
  /* make the top same as above stuff */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 100;
}

.custom-shape-divider-top-1669726171 svg {
  /* position: relative; */
  display: block;
  width: calc(100% + 1.3px);
  height: 102px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1669726171 .shape-fill {
  fill: #ffffff;
}
/* .gradientSVG {
  background: linear-gradient(
    180deg,
    rgba(94, 189, 62, 1) 34%,
    rgba(255, 185, 0, 1),
    rgba(247, 130, 0, 1),
    rgba(226, 56, 56, 1),
    rgba(151, 57, 153, 1),
    rgba(0, 156, 223, 1) 91%
  );
} */

#portal {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#portal.active {
  opacity: 1;
}
body {
  overflow-x: hidden;
}

.container-movies {
  overscroll-behavior-inline: contain;
  /* width: 100vw;
  position: relative; */
  /* left: calc(-50vw + 50%); */
  /* left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; */
  /* display: grid;
  grid-template-columns: calc((100vw - 50vh) / 2) 50vh calc(
      100% - (50vh + 100vw) / 2
    ); */
}

.container-movies::-webkit-scrollbar {
  /* scrollbar-width: thin; */
  /* width: 0.1rem; */
  width: 50%;
  height: 0.5rem;
}
.container-movies::-webkit-scrollbar-track {
  /* scrollbar-width: thin; */
  background: transparent;
}
.container-movies::-webkit-scrollbar-thumb {
  scrollbar-width: thin;
  /* scrollbar-width: ; */
  /* width: 2rem; */
  background: linear-gradient(45deg, grey, rgb(92, 91, 91));
  border: 3px solid transparent;
  border-radius: 9px;
  height: 10px;
  /* width: ; */
  /* height: 1rem; */
  /* scrollbar-height: 1rem; */
}

.line {
  /* width: 90%; */
  /* width: 90%; */
  /* width: 0; */
  height: 3px;
  border-radius: 1px;
  background-color: white;
  /* margin-bottom: 20px; */
  animation: grow 4.6s linear infinite;
  transform-origin: left;
  /* transform: scaleX(0); */
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

.line.active {
  transition: width ease-in;
  /* width: 100%; */
}

.movie-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  /* box-shadow: 0px 10px 100px white; */
  /* background-blend-mode: lighten; */
  /* mix-blend-mode: overlay; */
}
.movie-background::before,
.navbar::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  /* z-index: -1; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.084),
    rgba(0, 0, 0, 0.99)
  );
  /* opacity: 0.4; */
}
.navbar::before {
  background-image: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.004),
    rgba(0, 0, 0, 0.99)
  );
}

.video-responsive {
  padding-bottom: 56.25%;
  /* overflow: hidden;
  position: relative;
  height: 0; */
}

.show-more-reviews.active {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.004),
    rgba(15, 23, 42, 0.99)
  );
  transition: all 0.3s ease;
}

.show-more-reviews:hover {
  background-image: linear-gradient(
    180deg,
    /* rgba(15, 23, 42, 0.1), */ rgba(255, 255, 255, 0.004),
    rgba(15, 23, 42, 0.49)
  );
  /* z-index: -1; */
}
.search-input {
  transition: 0.3s ease-in-out;
  /* padding-left: 10px; */
}
.search-input.active {
  width: 20rem;
  /* padding: 0.5rem; */
  background-color: white;
}
.search-input.active .search-icon {
  color: black;
}

.search-bar input {
  /* transition: 0.3s ease-in-out; */
  width: 18rem;
  /* padding: 1rem; */
}
.search-input.active input {
  /* width: 18rem; */
  display: block;
}
body {
  overflow-x: hidden;
}
